.sidenav-container {
  height: 100%;
  
}

.sidenav {
  
  width: 200px;
}

.mat-toolbar.mat-primary {
  background: #078986;
  color: #fff;
  position: sticky;
  top: 0;
}



.image{

  
  width: 847px;
  height:783px; 
  background-repeat: no-repeat;
  background-size:cover;

  background-image:url('/Imagenes/UdeA-Ciudad_Universitaria-Medellin.svg'),none; 
  background-position:0% 0%;
}

agm-map {
  height: 300px;
}
