.sidenav-container {
  height: 100%;
  
  
}

.sidenav {
  background: #f6f8f7;
  width: 200px;
}

.mat-toolbar {
  background: #078939;
  color: rgb(12, 12, 12);
  position: sticky;
  top: 0;
}



.image{

  
  width: 847px;
  height:783px; 
  background-repeat: no-repeat;
  background-size:cover;

  background-image:url('/Imagenes/UdeA-Ciudad_Universitaria-Medellin.svg'),none; 
  background-position:0% 0%;
}

agm-map {
  height: 300px;
}




.dropbtn {
    width: 100%;
    color: black;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #f5f8f5;}