<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="warn">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Bloque 20</a>
      <a mat-list-item href="#">Bloque 21</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>GEOMAPSUDEA</span>
    </mat-toolbar>


    <agm-map [zoom]="16.5" [latitude]="lat" [longitude]="lng" [scrollwheel]="false">
      <agm-overlay [latitude]="6.271390" [longitude]="-75.570665"> 
        <!-- blue html square -->
        <div class="image"></div>
      </agm-overlay>
      <agm-marker [latitude]="lat" [longitude]="lng">
        <agm-info-window>UdeA</agm-info-window>
      </agm-marker>
    </agm-map>
  </mat-sidenav-content>
</mat-sidenav-container>
