<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Bloque 20</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          
          <div class="input-group">
            <!-- Aqui va la imagen del bloque 20 -->
            <img src='/Imagenes/bloque20.JPG'style="width: 100%; height:100%">
            
          </div>
          <label for="dateOfBirth">Bloque 20, perteneciente a la facultad de ingenieria, con acceso a las oficinas de ingenieria quimica, electronica.</label>
        </div>
      </form>
    </div>
   
  </ng-template>

  <ng-template #content2 let-modal>
      <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title2">Bloque 21</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              
              <div class="input-group">
                <!-- Aqui va la imagen del bloque 20 -->
                <img src='/Imagenes/bloque21.JPG' style="width: 100%; height:100%">
                
              </div>
              <label for="dateOfBirth">Bloque 21, perteneciente a la facultad de ingenieria, con acceso a las oficinas de ingenieria de sistemas, industrial.</label>
            </div>
          </form>
        </div>
        
      </ng-template>

      <ng-template #content3 let-modal>
          <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title3">Georeferencia</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  
                  <div>
                    <!-- Aqui va la imagen del bloque 20 -->
                    <agm-map  [zoom]="16" [latitude]="lat1" [longitude]="lng1">
                        <agm-marker [latitude]="lat" [longitude]="lng">
                          <agm-info-window>Usted esta aqui.</agm-info-window>
                        </agm-marker>
                      </agm-map>
                    
                  </div>
                  <label>Usted esta aqui.</label>
                </div>
              </form>
            </div>
            
          </ng-template>




          <ng-template #content5 let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title5">Convención</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  
                  <div class="input-group">
                    <!-- Aqui va la imagen del bloque 20 -->
                    <img src='/Imagenes/Convencion.jpg'style="width: 100%; height:100%">
                    
                  </div>
                </div>
              </form>
            </div>
           
          </ng-template>







          
  
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="Foreground"  > Universidad de Antioquia</mat-toolbar>
    

    <mat-nav-list>
        <div class="dropdown">
            <a class="dropbtn" (click)="open(content)" mat-list-item >Bloque 20</a>
            <div class="dropdown-content">
              <a routerLink="/piso">Piso 1  </a>
              <a routerLink="/piso202" >Piso 2</a>
              <a routerLink="/piso203">Piso 3</a>
              <a routerLink="/piso204">Piso 4</a>
            </div>
          </div>
      
          



      <!-- routerLink="bloque20" -->
      <div class="dropdown">
      <a class="dropbtn" (click)="open2(content2)" mat-list-item >Bloque 21</a>
      <div class="dropdown-content">
        <a routerLink="/piso211" >Piso 1</a>
        <a routerLink="/piso212">Piso 2</a>
        <a routerLink="/piso213">Piso 3</a>
        <a routerLink="/piso214" >Piso 4</a>
      </div>
    </div>
    
    

    <div class="dropdown">
      <a  class="dropbtn" (click)="open3(content3)" mat-list-item >Georeferencia</a>
    </div>

      <div class="dropdown">
      <a  class="dropbtn" (click)="open5(content5)" mat-list-item >Convención</a>
    </div>

    <div class="dropdown">
        <form  class="prueba">
            <button  class="prueba"><i class="fa fa-search"></i></button>
          <input class="prueba"    [(ngModel)]="searchText" placeholder="Geo Maps UdeA" name="Busqueda" (keyup)="showSearchResults($event)">
          
        <ul  *ngFor="let item of niveles"  class="lista2" >
              <li *ngIf="searching === true &&  item.descripcion == searchText" a >
                <a (click)="open4(content4)" mat-list-item >{{ item.descripcion }}</a>

                <ng-template #content4 let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Resultado</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">                             
                          <div class="input-group">
                            <img src={{item.url}}  style="width: 100%; height:100%">                            
                          </div>
                          <label for="dateOfBirth">{{item.resumen}}</label>
                        </div>
                      </form>
                    </div>
                  </ng-template>

              </li>
           </ul>
        </form>
      </div>

     

    </mat-nav-list>

  

  </mat-sidenav>

  
    
  <mat-sidenav-content>
    
    <mat-toolbar class="mat-toolbar" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div >
        <img class="Escudo" src="./imagenes/udea.jpg" >
      </div>
      <mat-toolbar color="Foreground" class="encabezado"> Geo Maps Udea</mat-toolbar>
    
    </mat-toolbar>



    <div>
      <router-outlet></router-outlet>

    </div>  
  
    <!--<div>
      <img src='/Imagenes/UdeA-Ciudad_Universitaria-Medellin.svg'  style="width: 100%; height:100%"  >
     
      
    </div>
    -->
    

    <!--
    <agm-map [zoom]="16.5" [latitude]="lat" [longitude]="lng" [scrollwheel]="false">
        <agm-overlay [latitude]="6.271390" [longitude]="-75.570665"> 
   blue html square
       
      </agm-overlay>
      <agm-marker [latitude]="lat" [longitude]="lng">
        <agm-info-window>UdeA</agm-info-window>
      </agm-marker>
    </agm-map>
     -->
  </mat-sidenav-content>
</mat-sidenav-container>

