<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bloque 20</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        
        <div class="input-group">
          <!-- Aqui va la imagen del bloque 20 -->
          <img src='/Imagenes/bloque20.JPG'>
          
        </div>
        <label for="dateOfBirth">Bloque 20, perteneciente a la facultad de ingenieria, con acceso a las oficinas de ingenieria quimica, electronica.</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title2">Bloque 21</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          
          <div class="input-group">
            <!-- Aqui va la imagen del bloque 20 -->
            <img src='/Imagenes/bloque21.JPG'>
            
          </div>
          <label for="dateOfBirth">Bloque 21, perteneciente a la facultad de ingenieria, con acceso a las oficinas de ingenieria de sistemas, industrial.</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>


<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="warn">Menu</mat-toolbar>
    <mat-nav-list>
      <a (click)="open(content)" mat-list-item routerLink="bloque20">Bloque 20</a>
      
      <a (click)="open2(content)" mat-list-item href="#">Bloque 21</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>GEOMAPSUDEA</span>
    </mat-toolbar>

  

    <div>
      <router-outlet></router-outlet>
      <pinch-zoom [double-tap]="true">
        <img src='/Imagenes/UdeA-Ciudad_Universitaria-Medellin.svg'  style="width: 100%">
        <!--<img src='/Imagenes/UdeA-Ciudad_Universitaria-Medellin21.svg'  style="width: 128.7%">-->
      </pinch-zoom>
      
    </div>  
  
    <!--<div>
      <img src='/Imagenes/UdeA-Ciudad_Universitaria-Medellin.svg'  style="width: 100%"  >
     
      
    </div>
    -->
    

    <!--
    <agm-map [zoom]="16.5" [latitude]="lat" [longitude]="lng" [scrollwheel]="false">
        <agm-overlay [latitude]="6.271390" [longitude]="-75.570665"> 
   blue html square
       
      </agm-overlay>
      <agm-marker [latitude]="lat" [longitude]="lng">
        <agm-info-window>UdeA</agm-info-window>
      </agm-marker>
    </agm-map>
     -->
  </mat-sidenav-content>
</mat-sidenav-container>

