<div class = "navContainer">
        <nav class = "user">
          <ul>
            <li><a>
                <div class="dropdown">
                        <a class="dropbtn" mat-list-item >Salones</a>
                        <div class="dropdown-content">
                          <a >Salon 1</a>
                          <a href="#">Salon 1</a>
                          <a href="#">Salon 1</a>
                          <a href="#">Salon 1</a>
                        </div>
                      </div>
            </a></li> 
            <li><a>
                <div class="dropdown">
                        <a class="dropbtn" mat-list-item >Laboratorios</a>
                        <div class="dropdown-content">
                          <a >Salon 1</a>
                          <a href="#">Salon 1</a>
                          <a href="#">Salon 1</a>
                          <a href="#">Salon 1</a>
                        </div>
                      </div>
            </a></li>
            <li><a>
                <div class="dropdown">
                        <a class="dropbtn" mat-list-item >Oficinas</a>
                        <div class="dropdown-content">
                          <a >Salon 1</a>
                          <a href="#">Salon 1</a>
                          <a href="#">Salon 1</a>
                          <a href="#">Salon 1</a>
                        </div>
                      </div>
            </a></li>
            <li><a>
                <div class="dropdown">
                        <a class="dropbtn" mat-list-item >Baños</a>
                        <div class="dropdown-content">
                          <a >Salon 1</a>
                          <a href="#">Salon 1</a>
                          <a href="#">Salon 1</a>
                          <a href="#">Salon 1</a>
                        </div>
                      </div>
            </a></li>
          </ul>
        </nav>
        
</div>

        <pinch-zoom [double-tap]="true">
                 <img src='/Imagenes/bloque_21_piso_1.jpg'  style="width:100%;">
               
              </pinch-zoom>
